# .NET
**/bin/
**/obj/
*.user
.vs/
**/.env

# Node
**/node_modules/
**/.nuxt/
**/.output/
**/dist/
frontend/.env

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Playwright
tests/e2e/playwright-report/
tests/e2e/test-results/

# OS
.DS_Store
Thumbs.db

# Rider / VS Code
.idea/
.vscode/
